.info{
    margin-top: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
    &__img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__title{
        font-weight: var(--fw-normal);
        margin: 0;
    }
    &__group{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__list-item{
        line-height: 1.8;
        & b{
            font-weight: var(--fw-bold);
        }
    }
    &__meta{
        margin-top: 3rem;
        display: flex;
        gap: 1.5rem;
        flex-direction: column;
        align-items: flex-start;
        & b{
            font-weight: var(--fw-bold);
        }
    }
    &__meta-group{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap; 
    }
    &__meta-card{
        padding: 0 1rem;
        background-color: var(--colors-ui-base);
        box-shadow: var(--shadow);
        line-height: 1.5;
        cursor: pointer;
    }
}
@media(min-width:767px){
    .info{
        grid-template-columns: minmax(100px, 400px) 1fr;
        align-items: center;
        gap: 5rem;
        &__meta{
            flex-direction: row;
            align-items: center;
        }
    }
}
@media(min-width:1024px){
    .info{
        grid-template-columns: minmax(400px, 600px) 1fr;
        &__group{
            flex-direction: row;
            gap: 4rem;
        }
    }
}